@media print {
	@page {
		size: auto;
		margin: 0mm;
	}
}

@media only screen {
	.diploma {
		display: none;
		&.show {
			display: block;
		}
	}
}

.diploma {
	box-sizing: border-box;
	font-family: 'Opens Sans', sans-serif;
	margin: 0;
	padding: 0;
	width: 297mm;
	height: calc(210mm * 2);
	.front {
		page-break-after: always;
		box-sizing: border-box;
		width: 297mm;
		height: 210mm;

		.content {
			display: inline-block;
			width: 800px;
			text-align: center;
			margin: 20% 0 0 20%;

			.paragraph {
				margin: 0;
				font-weight: 300;
				font-size: 14px;

				span {
					font-weight: bold;
				}
				&.-marginBottom {
					margin-bottom: 45px;
				}
			}
			.name {
				text-transform: uppercase;
				font-size: 1.8rem;
				margin: 20px 0;
				color: #ed3b48;
			}
			.course {
				display: block;
				font-size: 1.5rem;
				font-weight: bold;
				margin: 25px auto;
				max-width: 550px;
			}
		}

		.signatures {
			display: flex;
			margin-top: 60px;
			.signature {
				width: 22%;
				text-align: center;
				border-top: 1px solid black;
				span {
					display: block;
					font-weight: bold;
				}
				&:first-child {
					margin-left: 18%;
				}
				&:not(:last-child) {
					margin-right: 6%;
				}
			}
		}
	}

	.back {
		page-break-after: always;
		width: 297mm;
		height: 210mm;
		padding: 0 5vh;

		.university {
			margin: 0;
			font-weight: bold;
		}
		.paragraph {
			margin: 0;
			font-weight: 300;
			&.-marginBottom {
				margin-bottom: 10px;
			}
			&.-marginLeft {
				margin-left: 12px;
			}
			span {
				font-weight: bold;
			}
		}
		.recognized {
			width: 100%;
			margin-top: 20px;
			margin-left: 20px;

			&.-small {
				letter-spacing: 0.005rem;
				font-size: 12px;
				margin-top: 55px;
			}
		}
		.zone {
			position: relative;
			display: flex;
		}
		.QR {
			position: absolute;
			bottom: 70px;
			right: 0;
		}
		.area {
			display: inline-block;
			border: 0.02px solid black;
			margin-top: 80px;
			margin-left: 20px;
			padding: 2.5rem 2rem;
			text-align: left;
			&.-name {
				height: 50px;
			}
			.signatures {
				display: flex;
				flex-flow: column;
				.signature {
					text-align: center;
					margin: auto;
					width: 80%;
					border-top: 1px solid black;
					margin-top: 50px;
					span {
						display: block;
						font-weight: bold;
					}
					&:first-of-type {
						margin-top: 70px;
						margin-bottom: 15px;
					}
				}
			}
			&:first-of-type {
				margin-bottom: 50px;
			}
		}
	}
}
